<!DOCTYPE html>
<html lang="en" ng-app="todoList">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <title>ToDo List</title>
</head>
<body>

  <div ng-controller="todoCtrl">

    <form ng-submit="addTodo(newTodo)">
      <input id="todoInput" type="text" ng-model="newTodo" placeholder="Add an item to you To-Do List">
      <button type="submit">Add</button>
    </form>

    <div id="todoDisplay">
      <ul ng-repeat="todo in savedTodos track by $index">
        <li id="taskText" data-ng-class="todo.done ? 'strikethrough' : 'null'" ng-blur="editTodo(todo)" ng-dblclick="makeEditable(todo)">{{todo.task}}</li>
        <input type="checkbox" ng-click="completeTodo(todo)">
        <button ng-click="initDelete(todo)">X</button>
      </ul>
    </div>

  </div>
  
  <script src="/assets/js/todo.js"></script>
</body>
</html>