<!DOCTYPE html>
<html lang="en" ng-app="todoList">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <title>ToDo List</title>
</head>
<body>

  <div ng-controller="todoCtrl" class="wrapper">

    <form ng-submit="addTodo(newTodo)" class="formWrapper">
      <input id="todoInput" type="text" ng-model="newTodo" placeholder="Add an item to your To-Do List">
      <button type="submit" ng-disabled="!newTodo">Add</button>
    </form>

    <div id="todoDisplay">
      <ul>
        <div ng-repeat="todo in savedTodos track by $index" class="todoWrapper">
          <li id="taskText" data-id={{todo.id}} data-ng-class="todo.done ? 'strikethrough' : 'null'" ng-blur="editTodo(todo)" ng-dblclick="makeEditable(todo)" ng-click="showData(todo)">{{todo.task}}</li>
          <div class="todoControls">
            <input type="checkbox" ng-click="completeTodo(todo)" ng-checked="todo.done">
            <button ng-click="initDelete(todo)">X</button>
          </div>
        </div>
      </ul>
    </div>

  </div>
  
  <script src="/assets/js/todo.js"></script>
</body>
</html>