.title {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.wrapper {
  margin: 1.75em 4em;
  padding: 1.5em;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
}

.formWrapper input {
  width: 70%;
  height: 2em;
  font-size: 1em;
}

.formWrapper button {
  width: 20%;
  height: 3em;
  cursor: pointer;
  background-color: #30c430;
  color: #fff;
  font-size: 0.75em;
}

#todoDisplay {
  width: 50%;
  margin: auto;
  font-size: 1.5em;
  word-wrap: break-word;
}